@use "sass:selector";

@mixin codeAndFrontmatter($child) {
  #{selector.unify(".cm-hmd-frontmatter", $child)},
  #{selector.unify(".cm-math", $child)},
  pre.HyperMD-codeblock #{$child} {
    @content;
  }
}

.cm-s-obsidian pre.HyperMD-codeblock span.cm-formatting-code-block {
  color: var(--text-muted);
}

.cm-s-obsidian pre.HyperMD-codeblock .cm-keyword {
  font-weight: normal;
}

.cm-s-obsidian {
  .theme-dark & {
    .cm-hmd-frontmatter,
    pre.HyperMD-codeblock {
      color: #a9b7c6;
    }

    @include codeAndFrontmatter(".cm-meta") {
      color: #bbb529;
    }
    @include codeAndFrontmatter(".cm-number") {
      color: #6897bb;
    }
    @include codeAndFrontmatter(".cm-keyword") {
      color: #cc7832;
      line-height: 1em;
      font-weight: bold;
    }
    @include codeAndFrontmatter(".cm-def") {
      color: #a9b7c6;
      font-style: italic;
    }
    @include codeAndFrontmatter(".cm-variable") {
      color: #a9b7c6;
    }
    @include codeAndFrontmatter(".cm-variable-2") {
      color: #a9b7c6;
    }
    @include codeAndFrontmatter(".cm-variable-3") {
      color: #9876aa;
    }
    @include codeAndFrontmatter(".cm-type") {
      color: #aabbcc;
      font-weight: bold;
    }
    @include codeAndFrontmatter(".cm-property") {
      color: #ffc66d;
    }
    @include codeAndFrontmatter(".cm-operator") {
      color: #a9b7c6;
    }
    @include codeAndFrontmatter(".cm-string") {
      color: #6a8759;
    }
    @include codeAndFrontmatter(".cm-string-2") {
      color: #6a8759;
    }
    @include codeAndFrontmatter(".cm-comment") {
      color: #61a151;
      font-style: italic;
    }
    @include codeAndFrontmatter(".cm-link") {
      color: #cc7832;
    }
    @include codeAndFrontmatter(".cm-atom") {
      color: #cc7832;
    }
    @include codeAndFrontmatter(".cm-error") {
      color: #bc3f3c;
    }
    @include codeAndFrontmatter(".cm-bracket") {
      color: #a9b7c6;
    }
    @include codeAndFrontmatter(".cm-tag") {
      color: #629755;
      font-weight: bold;
      font-style: italic;
    }
    @include codeAndFrontmatter(".cm-tag.cm-bracket") {
      color: #629755;
    }

    @include codeAndFrontmatter(".cm-attribute") {
      color: #6897bb;
    }
    @include codeAndFrontmatter(".cm-qualifier") {
      color: #6a8759;
    }
    @include codeAndFrontmatter(".cm-builtin") {
      color: #ff9e59;
    }
    @include codeAndFrontmatter(".cm-special") {
      color: #ff9e59;
    }
    @include codeAndFrontmatter(".cm-matchhighlight") {
      color: #ffffff;
      background-color: rgba(50, 89, 48, 0.7);
      font-weight: normal;
    }
    @include codeAndFrontmatter(".cm-searching") {
      color: #ffffff;
      background-color: rgba(61, 115, 59, 0.7);
      font-weight: normal;
    }

    @include codeAndFrontmatter(".CodeMirror-cursor") {
      border-left: 1px solid #a9b7c6;
    }
    @include codeAndFrontmatter(".CodeMirror-activeline-background") {
      background: #323232;
    }
    @include codeAndFrontmatter(".CodeMirror-gutters") {
      background: #313335;
      border-right: 1px solid #313335;
    }
    @include codeAndFrontmatter(".CodeMirror-guttermarker") {
      color: #ffee80;
    }
    @include codeAndFrontmatter(".CodeMirror-guttermarker-subtle") {
      color: #d0d0d0;
    }
    @include codeAndFrontmatter(".CodeMirror-linenumber") {
      color: #606366;
    }
    @include codeAndFrontmatter(".CodeMirror-matchingbracket") {
      background-color: #3b514d;
      color: #ffef28 !important;
      font-weight: bold;
    }

    @include codeAndFrontmatter("div.CodeMirror-selected") {
      background: #214283;
    }
  }
}
